{% extends 'stories/base.html' %}
{% load static %}

{% block head %}

<title> Permission Denied | Storio</title>

<link href="https://fonts.googleapis.com/css2?family=Marck+Script&display=swap" rel="stylesheet"> 
{% endblock %}


{% block content %}
<div class="row">
	<div class="col-12 col-md-10 offset-md-1">
  		<div class="shadow p-4 mb-5 bg-white rounded mt-5 text-center">
    		<h2 class="mt-4 mb-4">You do not have permission to view this story !</h2>
    		<hr>
    		<h5 class="text-muted mt-4 mb-5"> Please contact with the creator of the story you are trying to reach to get permission. </h5>
    		<a type="button" class="btn btn-outline-secondary mb-4" href="{% url 'stories:story_list' %}">Return to Gallery</a>
  		</div>
	</div>
</div>
{% endblock %}